*
!*/
!.gitignore

!build.rs
!Cargo.lock
!Cargo.toml
!fstab-dummy
!README.md
!.rustfmt.toml

!src/**
!.idea/**
!resources/**
!icon_concepting/**
!scripts/**

!po/**

!scripts/update-pot.sh

__pycache__