<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
	<vendor>FSTabulator</vendor>
	<vendor_url>https://github.com/LapisSea/fstabulator</vendor_url>
	<icon_name>org.lapissea.FSTabulator</icon_name>
	<action id="org.lapissea.FSTabulator.root-helper">
		<description>FSTabulator is requesting system access</description>
		<message>FSTabulator needs administrator access to edit /etc/fstab, keep backups of it, and to mount, unmount or swap your drives.</message>
		<icon_name>org.lapissea.FSTabulator</icon_name>
		<defaults>
			<allow_any>auth_admin</allow_any>
			<allow_inactive>auth_admin</allow_inactive>
			<allow_active>auth_admin</allow_active>
		</defaults>
		<annotate key="org.freedesktop.policykit.exec.path">/usr/bin/fstabulator</annotate>
		<annotate key="org.freedesktop.policykit.exec.argv1">--root-helper</annotate>
	</action>
</policyconfig>
